# Build/OS
.DS_Store
Thumbs.db

# Node
node_modules
npm-debug.log*

# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
build/
.dart-version
.flutter-plugins
.flutter-plugins-dependencies

# Python
__pycache__/
*.py[cod]
*.pyd
.venv/
venv/

# PlatformIO
.pio/

# VSCode
.vscode/

# Logs
*.log

